@font-face {
	font-family: "Source Sans Pro";
	src: url("/assets/fonts/SourceSansPro-Regular.ttf") format("ttf");
}

@font-face {
	font-family: "Source Sans Pro";
	font-style: italic;
	src: url("/assets/fonts/SourceSansPro-Italic.ttf") format("ttf");
}
