.primary-yellow {
    color: #FFBF00;
}
.yellow-secondary {
    color: #FFE066;
}
.blue-dark {
    color: #110042;
}
.blue-primary {
    color: #4263EB;
}
.blue-light {
    color: #96DDFF;
}
.black {
    color: #000000;
}
.white {
    color: #FFFFFF;
}
.off-white {
    color: #F7F7F7;
}
.grey-dark {
    color: #8E8E93;
}
.grey-primary {
    color: #C7C7CC;
}
.grey-light {
    color: #E5E5EA;
}

.display1 {
    /* Display Large - Source Sans Pro/Regular 64/72 . 0 */

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px; /* or 112% */
    letter-spacing: -0.25px;
}

.display2{
    /* Display Medium - Source Sans Pro/Regular 48/56 . 0 */

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px; /* or 117% */
}

.display3{
    /* Display Small - Source Sans Pro/Regular 40/48 . 0 */

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px; /* or 120% */
}

.h1{
    /* Headline Large - Source Sans Pro/Regular 32/40 . 0 */

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px; /* identical to box height, or 125% */
}

.h2{
    /* Headline Medium - Source Sans Pro/Regular 28/36 . 0 */

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px; /* identical to box height, or 129% */
}

.h3{
    /* Headline Small - Source Sans Pro/Regular 24/32 . 0 */

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px; /* identical to box height, or 133% */
}

.title1{
    /* Title Large - Source Sans Pro/Medium 22/28 . +0.4 */

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px; /* identical to box height, or 125% */
    letter-spacing: 0.5px;
}

.title2{
    /* Title Medium - Source Sans Pro/Medium 16/24 . +0.16 */

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px; /* identical to box height, or 150% */
    letter-spacing: 0.2px;
}

.title3{
    /* Title Small - Source Sans Pro/Medium 14/20 . +0.12 */

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px; /* identical to box height, or 143% */
    letter-spacing: 0.16px;
}

.label1{
    /* Label Large - Source Sans Pro/Medium 16/24 . +0.2 */

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px; /* identical to box height, or 156% */
    letter-spacing: 0.2px;
}

.label2{
    /* Label Medium - Source Sans Pro/Medium 14/20 . +0.4 */

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px; /* identical to box height, or 150% */
    letter-spacing: 0.4px;
}

.label3{
    /* Label Small - Source Sans Pro/Medium 12/16 . +0.6 */

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px; /* identical to box height, or 143% */
    letter-spacing: 0.6px;
}

.body1{
    /* Body Large - Source Sans Pro/Regular 16/24 . 0 */

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; /* identical to box height, or 150% */
}

.body2{
    /* Body Medium - Source Sans Pro/Regular 14/20 . 0 */

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px; /* identical to box height, or 143% */
    letter-spacing: 0.08px;
}

.body3{
    /* Body Small - Source Sans Pro/Regular 12/16 . 0 */

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px; /* identical to box height, or 133% */
    letter-spacing: 0.2px;
}

.overline{
    /* Overline - Source Sans Pro/Regular 12/16 . 0 */

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px; /* identical to box height, or 133% */
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.caption{
    /* Caption - Source Sans Pro/Regular 12/16 . 0 */

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px; /* identical to box height, or 133% */
    letter-spacing: 0.5px;
}

.redacted1{
    /* Redacted Large */

    font-family: 'Redacted Script';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; /* identical to box height, or 150% */
}

.redacted2{
    /* Redacted Medium */

    font-family: 'Redacted Script';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px; /* identical to box height, or 143% */
    letter-spacing: 0.08px;
}

.redacted3{
    /* Redacted Small */

    font-family: 'Redacted Script';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px; /* identical to box height, or 133% */
    letter-spacing: 0.2px;
}